* {
    margin: 0;
    padding: 0;
    font-family: Verdana
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header nav {
    background-color: #333;
}

#main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    padding: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

#main-nav a {
    color: rgb(207, 207, 207);
    transition: 0.5s;
}

#main-nav a:hover {
    color: white;
}

#sub-nav {
    font-size: 0.8rem;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

#sub-nav h3 {
    color: #333;
}

#sub-nav-list {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sub-nav-links a {
    margin: 0 0.5rem;
    color: #333
}

#sub-nav-links .btn,
.btn {
    background-color: #0071e3;
    border-radius: 10rem;
    padding: .4rem 1rem;
    color: white;
}

/* main content */

.ribbon {
    text-align: center;
    color: rgb(72, 72, 72);
    padding: 1rem;
    font-size: 0.8rem;
}

.ribbon a {
    color: #0071e3;
}

#main-content {
    display: flex;
    flex-direction: column;
    color: #1d1d1d;
    text-align: center;
    justify-content: center;
}

#main-content #title {
    margin: 1rem;
    font-size: 1.2rem;
}

#main-content #subtitle {
    margin: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

#main-content #description {
    margin: 0 auto;
    font-size: 1.1rem;
    max-width: 600px;
    line-height: 1.5rem;
}

#main-content #price {
    font-size: 1.3rem;
    color: #86868b;
    margin: 2rem;
}

#main-content .btn {
    font-size: 1.1rem;
    padding: 0.8rem 1.4rem;
    align-self: center;
}

#main-content #product-image {
    max-width: 1000px;
    margin: 3rem auto;
    opacity: 1;
    transition: 0.5s;
}

#main-content #product-image.changing {
    opacity: 0.5;
}

#image-picker {
    margin-bottom: 500px;
}

#image-picker ul {
    display: flex;
    justify-content: center;
}

#image-picker li {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#image-picker li .color {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1px;
    border: 3px solid #fff;
    pointer-events: none;
}

#image-picker li .description {
    font-size: 0.7rem;
    color: #1d1d1d;
    margin-top: 0.6rem;
}

#green .color {
    background-color: #394c38;
}

#silver .color {
    background-color: #f1f2ed;
}

#golden .color {
    background-color: #fae7cf;
}

#grafite .color {
    background-color: #54524f;
}

#blue .color {
    background-color: #a7c1d9;
}

.selected {
    outline: 2px solid #43a1ff;
}

/* Mobile */
@media (max-width: 480px) {
    #main-nav li {
      display: none;
    }
  
    #main-nav #logo {
      display: flex;
    }
  
    #sub-nav-links a {
      display: none;
    }
  
    #sub-nav-links .btn {
      display: flex;
    }
  
    #main-content {
      padding: 2rem;
      overflow: hidden;
    }
  
    #main-content #subtitle {
      font-size: 3rem;
    }
  }
  